#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

nextflow.enable.moduleBinaries = true

params {
	
    //Default pipeline parameters 

	ref = 'grch38'

    pcv = false
    
    gpu = false

    o = '.'

    snvs = '.'
    indels = '.'
    fa = '.'
    sdb = '.'

    spliceai_cutoff = 0.2
    spliceai_max_length = 50
    
    squirls_cutoff = 0.8

    annotation_mode = 'OR'

}

docker { 

    //Docker global configurations

	enabled = true
    runOptions = '-u $(id -u):$(id -g)'

}

wave {
    
    enabled = true

}

process {

    /* Setting labels to control cpu threads usage 
    according to a parallel or in series design
    depending on the specific process running */

    withLabel: 'inSeries' {
        cpus = params.t
    }

    withLabel: 'inParallel' {
        cpus = 1
    }
}
