#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl = 2

nextflow.enable.moduleBinaries = true

params {
	
    //Default pipeline parameters 

	ref = 'grch38'

    faf = false
    pcv = false
    gpu = false

    o = '.'

    snvs = 'snvs_not_present'
    indels = 'indels_not_present'
    fa = '.'
    sdb = '.'
    af = '.'

    af_cutoff = 0.01
    spliceai_cutoff = 0.2
    spliceai_max_length = 50
    squirls_cutoff = 0.8

    annotation_mode = 'OR'

}

docker { 

    //Docker global configurations

	enabled = true
    runOptions = '-u $(id -u):$(id -g)'

}

wave {
    
    enabled = true

}

tower {

    accessToken = ''

}

process {

    /* Setting labels to control cpu threads usage 
    according to a parallel or in series design
    depending on the specific process running */

    withLabel: 'inSeries' {

        errorStrategy = 'retry'
        cpus = params.t

    }

    withLabel: 'inParallel' {

        errorStrategy = 'retry'
        cpus = 1

    }
    
}
